In [2]:
import pandas as pd
import numpy as np

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Loading the dataset

In [110]:
df=pd.read_csv('/content/drive/MyDrive/LAB/Titanic-Dataset.csv')

# Handling Null Values

In [111]:
df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [8]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [112]:
# Check for null values (1 line)
print(df.isnull().sum())
# Fill null values for 'Embarked' with the mode(1 line)
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split


# df['Embarked'].fillna(df['Embarked'].mode(), inplace=True)
# print(df.Embarked)


imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
df[['Embarked']] = imputer.fit_transform(df[['Embarked']])

print(df.isnull().sum())

# y=df.Survived
# melb_predictors= df.drop(['Survived'], axis=1)
# X=melb_predictors.select_dtypes(exclude=['object'])
# X_train,X_valid,y_train, y_valid = train_test_split(X,y,train_size=0.8, random_state=0)

# imp_mean = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
# my_imputer = pd.DataFrame(imp_mean.fit_transform(X_train))


# Drop rows with null values in 'Cabin' (or alternatively, you can fill it with a placeholder) (1 line)

df.dropna(subset=['Cabin'], inplace=True)
print(df.isnull().sum())

# Cabins_with_missing=[col for col in df.columns
#                    if df.Cabin.isnull().any()]

# df= df.drop(Cabins_with_missing, axis=1)
# print(df.isnull().sum())
# df.drop(null,axis=0)

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64
PassengerId     0
Survived        0
Pclass          0
Name            0
Sex             0
Age            19
SibSp           0
Parch           0
Ticket          0
Fare            0
Cabin           0
Embarked        0
dtype: int64

# Handling Duplicates

In [99]:
# Check for duplicates (1 line)

df.duplicated().sum()
# Drop duplicates if any (1 line)

0

# Handling Outliers

In [113]:
import numpy as np
print((df['Fare']))
# Function to remove outliers using the IQR method
def remove_outliers(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    return df[(df[column] >= lower_bound) & (df[column] <= upper_bound)]

# Remove outliers from 'Fare' using the remove_outilers function (1 line)
print(remove_outliers(df, 'Fare'))

1      71.2833
3      53.1000
6      51.8625
10     16.7000
11     26.5500
        ...
871    52.5542
872     5.0000
879    83.1583
887    30.0000
889    30.0000
Name: Fare, Length: 204, dtype: float64
     PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
6              7         0       1
10            11         1       3
11            12         1       1
..           ...       ...     ...
871          872         1       1
872          873         0       1
879          880         1       1
887          888         1       1
889          890         1       1

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                              McCarthy, Mr. Timothy J    male  54.0      0
10                     Sandstrom, Miss. Marguerite Rut  female   4.0      1
11                            Bonnell, Miss. Elizabeth  female  58.0      0
..                                                 ...     ...   ...    ...
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
872                           Carlsson, Mr. Frans Olof    male  33.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
889                              Behr, Mr. Karl Howell    male  26.0      0

     Parch    Ticket     Fare        Cabin Embarked
1        0  PC 17599  71.2833          C85        C
3        0    113803  53.1000         C123        S
6        0     17463  51.8625          E46        S
10       1   PP 9549  16.7000           G6        S
11       0    113783  26.5500         C103        S
..     ...       ...      ...          ...      ...
871      1     11751  52.5542          D35        S
872      0       695   5.0000  B51 B53 B55        S
879      1     11767  83.1583          C50        C
887      0    112053  30.0000          B42        S
889      0    111369  30.0000         C148        C

[187 rows x 12 columns]

# Scaling and Normalization

In [114]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

# Standard scaling for 'Fare' (2 lines)

scaler_standard = StandardScaler()
fare_scaler = scaler_standard.fit_transform(df[['Fare']])

# Min-Max scaling for 'Age' (2 lines)
scaler_minmax = MinMaxScaler()
age_scaler = scaler_minmax.fit_transform(df[['Age']])
print(fare_scaler)
print(age_scaler)

[[-6.54663359e-02]
 [-3.10493932e-01]
 [-3.27169763e-01]
 [-8.00999202e-01]
 [-6.68266320e-01]
 [-8.50858254e-01]
 [-5.47661315e-01]
 [ 2.51799662e+00]
 [ 9.48390540e-01]
 [ 7.91945120e-03]
 [-1.90842987e-01]
 [-5.47661315e-01]
 [ 5.19948534e-02]
 [ 9.88219362e-02]
 [-8.84546803e-01]
 [-9.22951749e-01]
 [ 2.51799662e+00]
 [-2.01679919e-01]
 [-5.59058825e-01]
 [-1.72259036e-01]
 [ 1.54427779e-02]
 [-3.25316893e-01]
 [ 2.30940791e+00]
 [-8.50858254e-01]
 [ 1.54427779e-02]
 [-7.24751236e-01]
 [-6.71860214e-01]
 [-3.10493932e-01]
 [ 4.12145177e-02]
 [-6.75677800e-01]
 [-1.28575768e-01]
 [-2.84890635e-01]
 [-5.74612154e-01]
 [-6.12399925e-01]
 [-6.39125725e-01]
 [-5.00497347e-01]
 [-3.52267732e-01]
 [-6.75677800e-01]
 [-6.52489299e-01]
 [ 9.48390540e-01]
 [-8.85052131e-01]
 [-6.08300703e-01]
 [ 5.00389438e-01]
 [ 2.02395517e-03]
 [ 1.86749049e-01]
 [ 9.88219362e-02]
 [ 1.86749049e-01]
 [-3.17848816e-01]
 [-8.85052131e-01]
 [-6.68266320e-01]
 [ 1.39585080e-01]
 [ 4.72784565e-02]
 [-1.02603871e+00]
 [ 1.04193286e+00]
 [ 8.01676910e-01]
 [-6.25818748e-01]
 [ 2.44820893e-02]
 [-6.75677800e-01]
 [ 2.01291721e-01]
 [-8.52542682e-01]
 [ 1.01616112e+00]
 [-6.15038413e-01]
 [ 2.30940791e+00]
 [-8.59617277e-01]
 [ 1.01616112e+00]
 [ 4.41434477e-01]
 [-2.58893855e-01]
 [ 9.45542708e-02]
 [ 2.50957449e+00]
 [ 1.19560924e+00]
 [ 7.86405217e-01]
 [ 8.01676910e-01]
 [-8.50858254e-01]
 [-2.44744665e-01]
 [-6.41989252e-01]
 [ 1.04193286e+00]
 [-1.28575768e-01]
 [ 7.86405217e-01]
 [-5.47661315e-01]
 [-6.75677800e-01]
 [ 2.51799662e+00]
 [-8.50858254e-01]
 [-5.54399025e-01]
 [-2.84890635e-01]
 [-1.20133893e-02]
 [-9.21921355e-02]
 [-2.78938542e-01]
 [ 1.82401252e+00]
 [ 5.91011634e-01]
 [ 5.00389438e-01]
 [-8.00999202e-01]
 [ 1.86749049e-01]
 [-9.17561581e-01]
 [-6.68266320e-01]
 [-2.72762757e-01]
 [ 5.91011634e-01]
 [ 2.51799662e+00]
 [ 7.70362254e-02]
 [-6.15038413e-01]
 [-6.52095816e-01]
 [ 1.74677768e-01]
 [-6.68266320e-01]
 [-3.27169763e-01]
 [-6.68266320e-01]
 [-5.07235057e-01]
 [-8.40189765e-01]
 [-3.25316893e-01]
 [ 2.01291721e-01]
 [ 1.86749049e-01]
 [-6.25818748e-01]
 [-6.15038413e-01]
 [ 2.86379087e-02]
 [ 1.01616112e+00]
 [ 1.39585080e-01]
 [ 4.41434477e-01]
 [-6.71803617e-01]
 [-5.67594156e-01]
 [-8.84546803e-01]
 [ 2.33913017e-01]
 [-2.44744665e-01]
 [ 1.96252905e+00]
 [-6.68266320e-01]
 [-3.59005442e-01]
 [-6.92839223e-02]
 [ 4.08082814e-01]
 [ 4.68160277e-01]
 [-4.92412095e-01]
 [ 4.72784565e-02]
 [-3.32334892e-01]
 [-6.70456075e-01]
 [-2.72762757e-01]
 [ 4.68160277e-01]
 [-4.85337500e-01]
 [ 4.72784565e-02]
 [ 4.12145177e-02]
 [ 2.86379087e-02]
 [-2.58893855e-01]
 [ 1.04193286e+00]
 [-5.00497347e-01]
 [-3.17848816e-01]
 [-5.90502369e-01]
 [ 2.44820893e-02]
 [-6.21776122e-01]
 [-6.15038413e-01]
 [-9.21921355e-02]
 [ 7.91945120e-03]
 [-5.47661315e-01]
 [ 5.00389438e-01]
 [-6.81236411e-01]
 [-3.25316893e-01]
 [-3.25316893e-01]
 [ 5.87781219e+00]
 [ 7.91945120e-03]
 [ 1.82182276e+00]
 [-2.57939795e-01]
 [ 4.68160277e-01]
 [-9.22951749e-01]
 [ 2.03995612e+00]
 [-6.71803617e-01]
 [-6.71803617e-01]
 [-3.58948845e-01]
 [-6.68266320e-01]
 [-3.25316893e-01]
 [-9.22951749e-01]
 [ 2.03995612e+00]
 [-8.84546803e-01]
 [-3.10493932e-01]
 [ 1.82182276e+00]
 [ 5.87781219e+00]
 [-6.21776122e-01]
 [ 3.64981209e-02]
 [ 2.50957449e+00]
 [-6.92839223e-02]
 [-3.10493932e-01]
 [-8.57932849e-01]
 [ 1.39585080e-01]
 [ 5.91011634e-01]
 [ 2.44820893e-02]
 [-8.84546803e-01]
 [-9.21604207e-01]
 [ 1.82182276e+00]
 [-2.57939795e-01]
 [-6.21776122e-01]
 [ 4.12145177e-02]
 [-6.76631860e-01]
 [ 5.91011634e-01]
 [-1.02603871e+00]
 [-3.10493932e-01]
 [-1.02603871e+00]
 [ 2.33913017e-01]
 [-8.57932849e-01]
 [ 5.19948534e-02]
 [ 9.45542708e-02]
 [-6.25818748e-01]
 [ 1.74677768e-01]
 [-4.95107179e-01]
 [-6.68266320e-01]
 [-6.76631860e-01]
 [-3.45586619e-01]
 [-3.17848816e-01]
 [-9.58661610e-01]
 [ 9.45542708e-02]
 [-6.21776122e-01]
 [-6.21776122e-01]]
[[0.46889226]
 [0.43095599]
 [0.67121902]
 [0.0389479 ]
 [0.72180071]
 [0.41831057]
 [0.34243804]
 [0.22862924]
 [       nan]
 [0.60799191]
 [0.81031866]
 [       nan]
 [0.46889226]
 [0.55741022]
 [0.35508346]
 [0.30450177]
 [0.27921093]
 [0.57005564]
 [0.8861912 ]
 [0.27921093]
 [0.25392008]
 [0.58270106]
 [0.29185635]
 [0.39934244]
 [0.67121902]
 [       nan]
 [0.22862924]
 [0.45624684]
 [0.29185635]
 [0.44992413]
 [0.2665655 ]
 [       nan]
 [0.75973698]
 [0.69650986]
 [0.62063733]
 [0.00101163]
 [       nan]
 [0.02630248]
 [0.5447648 ]
 [0.72180071]
 [0.01365706]
 [0.49418311]
 [0.3803743 ]
 [0.39301973]
 [0.46889226]
 [0.43095599]
 [0.5447648 ]
 [0.45624684]
 [0.35508346]
 [0.7723824 ]
 [0.36772888]
 [0.64592817]
 [0.49418311]
 [0.72180071]
 [0.43095599]
 [0.45624684]
 [0.78502782]
 [       nan]
 [0.22862924]
 [0.44360142]
 [0.01365706]
 [       nan]
 [0.62063733]
 [       nan]
 [0.        ]
 [0.20333839]
 [0.36772888]
 [0.29185635]
 [0.21598381]
 [0.3803743 ]
 [0.49418311]
 [0.44360142]
 [0.44360142]
 [0.19069297]
 [0.56373293]
 [0.46889226]
 [0.35508346]
 [0.50682853]
 [0.55741022]
 [0.01365706]
 [0.29185635]
 [0.29185635]
 [       nan]
 [0.2665655 ]
 [0.74709155]
 [0.29185635]
 [0.30450177]
 [0.32979262]
 [0.44360142]
 [0.27921093]
 [0.29185635]
 [0.40566515]
 [0.39301973]
 [0.34243804]
 [0.62063733]
 [0.16540212]
 [0.79767324]
 [0.0389479 ]
 [0.64592817]
 [0.36772888]
 [0.60799191]
 [0.81031866]
 [       nan]
 [0.59534648]
 [0.58270106]
 [0.27921093]
 [       nan]
 [0.30450177]
 [0.43095599]
 [0.72180071]
 [0.68386444]
 [0.67121902]
 [0.30450177]
 [0.19069297]
 [0.21598381]
 [0.44360142]
 [0.58270106]
 [0.41831057]
 [0.36772888]
 [0.5447648 ]
 [       nan]
 [0.55741022]
 [0.2665655 ]
 [0.44360142]
 [0.62063733]
 [0.20333839]
 [0.59534648]
 [0.48153768]
 [0.6585736 ]
 [0.44360142]
 [0.48153768]
 [0.48153768]
 [0.44360142]
 [0.21598381]
 [0.74709155]
 [0.64592817]
 [0.60799191]
 [0.49418311]
 [0.0389479 ]
 [0.51947395]
 [0.75973698]
 [0.25392008]
 [1.        ]
 [0.39301973]
 [0.29185635]
 [0.59534648]
 [0.69650986]
 [0.72180071]
 [0.58270106]
 [       nan]
 [0.3803743 ]
 [0.44360142]
 [0.32979262]
 [0.17804755]
 [0.3803743 ]
 [0.60799191]
 [0.51947395]
 [0.21598381]
 [0.43095599]
 [0.51947395]
 [0.29185635]
 [       nan]
 [0.59534648]
 [0.22862924]
 [0.46889226]
 [0.32979262]
 [0.32979262]
 [0.35508346]
 [0.43095599]
 [       nan]
 [0.44360142]
 [0.25392008]
 [0.87354578]
 [0.22862924]
 [0.06423875]
 [0.40566515]
 [0.44360142]
 [0.63328275]
 [0.70915529]
 [       nan]
 [0.53211937]
 [0.20333839]
 [0.35508346]
 [0.57005564]
 [0.60799191]
 [0.12746586]
 [0.48153768]
 [0.40566515]
 [       nan]
 [0.64592817]
 [0.32979262]
 [0.7723824 ]
 [0.48153768]
 [       nan]
 [       nan]
 [0.19069297]
 [0.63328275]
 [0.59534648]
 [0.3803743 ]
 [0.58270106]
 [0.40566515]
 [0.69650986]
 [0.22862924]
 [0.31714719]]

# Encoding Categorical Variables

In [115]:
# One-hot encoding for 'Embarked' and 'Sex' (1 line)
ESEncoded = pd.get_dummies(df, columns=['Embarked', 'Sex'])

print(ESEncoded)

     PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
6              7         0       1
10            11         1       3
11            12         1       1
..           ...       ...     ...
871          872         1       1
872          873         0       1
879          880         1       1
887          888         1       1
889          890         1       1

                                                  Name   Age  SibSp  Parch  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0      1      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0      1      0
6                              McCarthy, Mr. Timothy J  54.0      0      0
10                     Sandstrom, Miss. Marguerite Rut   4.0      1      1
11                            Bonnell, Miss. Elizabeth  58.0      0      0
..                                                 ...   ...    ...    ...
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  47.0      1      1
872                           Carlsson, Mr. Frans Olof  33.0      0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  56.0      0      1
887                       Graham, Miss. Margaret Edith  19.0      0      0
889                              Behr, Mr. Karl Howell  26.0      0      0

       Ticket     Fare        Cabin  Embarked_C  Embarked_Q  Embarked_S  \
1    PC 17599  71.2833          C85        True       False       False
3      113803  53.1000         C123       False       False        True
6       17463  51.8625          E46       False       False        True
10    PP 9549  16.7000           G6       False       False        True
11     113783  26.5500         C103       False       False        True
..        ...      ...          ...         ...         ...         ...
871     11751  52.5542          D35       False       False        True
872       695   5.0000  B51 B53 B55       False       False        True
879     11767  83.1583          C50        True       False       False
887    112053  30.0000          B42       False       False        True
889    111369  30.0000         C148        True       False       False

     Sex_female  Sex_male
1          True     False
3          True     False
6         False      True
10         True     False
11         True     False
..          ...       ...
871        True     False
872       False      True
879        True     False
887        True     False
889       False      True

[204 rows x 15 columns]